@charset "utf-8";

.waxon_tm_settings .colors li a.blue {
    background-color: #4169e1
}

.waxon_tm_settings .colors li a.green {
    background-color: #66b95c
}

.waxon_tm_settings .colors li a.brown {
    background-color: #ff9800
}

.waxon_tm_settings .colors li a.pink {
    background-color: #ff5e94
}

.waxon_tm_settings .colors li a.orange {
    background-color: #fa5b0f
}

.waxon_tm_settings .colors li a.black {
    background-color: #333
}

.waxon_tm_settings .colors li a.white {
    background-color: #e5e5e5
}

.waxon_tm_settings .colors li a.purple {
    background-color: #9200ee
}

.waxon_tm_settings .colors li a.sky {
    background-color: #00d4bd
}

.waxon_tm_settings .colors li a.cadetBlue {
    background-color: #5e9e9f
}

.waxon_tm_settings .colors li a.crimson {
    background-color: #e54b4b
}

.waxon_tm_settings .colors li a.olive {
    background-color: #666d41
}

.waxon_tm_settings .colors li a.red {
    background-color: #fe0000
}

.waxon_tm_all_wrap[data-color=blue] .waxon_tm_hero .content_inner h3 {
    color: #4169e1
}

.waxon_tm_all_wrap[data-color=blue] .waxon_tm_hero .content_inner h3.stroke {
    -webkit-text-stroke: 1px #4169e1;
    color: transparent
}

.waxon_tm_all_wrap[data-color=blue] .waxon_tm_about .name h3 {
    color: #4169e1
}

.waxon_tm_all_wrap[data-color=blue] .waxon_tm_button a {
    background-color: #4169e1;
    border-color: #4169e1
}

.waxon_tm_all_wrap[data-color=blue] .waxon_tm_button a:hover {
    background-color: transparent
}

.waxon_tm_all_wrap[data-color=blue] .waxon_tm_service ul li .svg {
    color: #4169e1
}

.waxon_tm_all_wrap[data-color=blue] .waxon_tm_portoflio .portfolio_inner ul li .list_inner .title h3 a:hover {
    color: #4169e1
}

.waxon_tm_all_wrap[data-color=blue] .waxon_tm_testimonials .quote_list ul li .svg {
    color: #4169e1
}

.waxon_tm_all_wrap[data-color=blue] .waxon_tm_news .news_inner ul li .details .title a:hover {
    color: #4169e1
}

.waxon_tm_all_wrap[data-color=blue] .waxon_tm_topbar .menu .links ul li a:hover {
    color: #4169e1
}

.waxon_tm_all_wrap[data-color=blue] .waxon_tm_portoflio .portfolio_filter ul li a.current {
    color: #4169e1
}

.waxon_tm_all_wrap[data-color=blue] .cursor-inner.cursor-hover {
    background-color: #4169e1
}

.waxon_tm_all_wrap[data-color=blue] .cursor-outer {
    border-color: #4169e1
}

.waxon_tm_all_wrap[data-color=blue] .cursor-inner {
    background-color: #4169e1
}

.waxon_tm_all_wrap[data-color=blue] .waxon_tm_topbar .menu .links ul li.current a {
    color: #4169e1
}

.waxon_tm_all_wrap[data-color=green] .waxon_tm_hero .content_inner h3 {
    color: #66b95c
}

.waxon_tm_all_wrap[data-color=green] .waxon_tm_hero .content_inner h3.stroke {
    -webkit-text-stroke: 1px #66b95c;
    color: transparent
}

.waxon_tm_all_wrap[data-color=green] .waxon_tm_about .name h3 {
    color: #66b95c
}

.waxon_tm_all_wrap[data-color=green] .waxon_tm_button a {
    background-color: #66b95c;
    border-color: #66b95c
}

.waxon_tm_all_wrap[data-color=green] .waxon_tm_button a:hover {
    background-color: transparent
}

.waxon_tm_all_wrap[data-color=green] .waxon_tm_service ul li .svg {
    color: #66b95c
}

.waxon_tm_all_wrap[data-color=green] .waxon_tm_portoflio .portfolio_inner ul li .list_inner .title h3 a:hover {
    color: #66b95c
}

.waxon_tm_all_wrap[data-color=green] .waxon_tm_testimonials .quote_list ul li .svg {
    color: #66b95c
}

.waxon_tm_all_wrap[data-color=green] .waxon_tm_news .news_inner ul li .details .title a:hover {
    color: #66b95c
}

.waxon_tm_all_wrap[data-color=green] .waxon_tm_topbar .menu .links ul li a:hover {
    color: #66b95c
}

.waxon_tm_all_wrap[data-color=green] .waxon_tm_portoflio .portfolio_filter ul li a.current {
    color: #66b95c
}

.waxon_tm_all_wrap[data-color=green] .cursor-inner.cursor-hover {
    background-color: #66b95c
}

.waxon_tm_all_wrap[data-color=green] .cursor-outer {
    border-color: #66b95c
}

.waxon_tm_all_wrap[data-color=green] .cursor-inner {
    background-color: #66b95c
}

.waxon_tm_all_wrap[data-color=green] .waxon_tm_topbar .menu .links ul li.current a {
    color: #66b95c
}

.waxon_tm_all_wrap[data-color=brown] .waxon_tm_hero .content_inner h3 {
    color: #ff9800
}

.waxon_tm_all_wrap[data-color=brown] .waxon_tm_hero .content_inner h3.stroke {
    -webkit-text-stroke: 1px #ff9800;
    color: transparent
}

.waxon_tm_all_wrap[data-color=brown] .waxon_tm_about .name h3 {
    color: #ff9800
}

.waxon_tm_all_wrap[data-color=brown] .waxon_tm_button a {
    background-color: #ff9800;
    border-color: #ff9800
}

.waxon_tm_all_wrap[data-color=brown] .waxon_tm_button a:hover {
    background-color: transparent
}

.waxon_tm_all_wrap[data-color=brown] .waxon_tm_service ul li .svg {
    color: #ff9800
}

.waxon_tm_all_wrap[data-color=brown] .waxon_tm_portoflio .portfolio_inner ul li .list_inner .title h3 a:hover {
    color: #ff9800
}

.waxon_tm_all_wrap[data-color=brown] .waxon_tm_testimonials .quote_list ul li .svg {
    color: #ff9800
}

.waxon_tm_all_wrap[data-color=brown] .waxon_tm_news .news_inner ul li .details .title a:hover {
    color: #ff9800
}

.waxon_tm_all_wrap[data-color=brown] .waxon_tm_topbar .menu .links ul li a:hover {
    color: #ff9800
}

.waxon_tm_all_wrap[data-color=brown] .waxon_tm_portoflio .portfolio_filter ul li a.current {
    color: #ff9800
}

.waxon_tm_all_wrap[data-color=brown] .cursor-inner.cursor-hover {
    background-color: #ff9800
}

.waxon_tm_all_wrap[data-color=brown] .cursor-outer {
    border-color: #ff9800
}

.waxon_tm_all_wrap[data-color=brown] .cursor-inner {
    background-color: #ff9800
}

.waxon_tm_all_wrap[data-color=brown] .waxon_tm_topbar .menu .links ul li.current a {
    color: #ff9800
}

.waxon_tm_all_wrap[data-color=pink] .waxon_tm_hero .content_inner h3 {
    color: #ff5e94
}

.waxon_tm_all_wrap[data-color=pink] .waxon_tm_hero .content_inner h3.stroke {
    -webkit-text-stroke: 1px #ff5e94;
    color: transparent
}

.waxon_tm_all_wrap[data-color=pink] .waxon_tm_about .name h3 {
    color: #ff5e94
}

.waxon_tm_all_wrap[data-color=pink] .waxon_tm_button a {
    background-color: #ff5e94;
    border-color: #ff5e94
}

.waxon_tm_all_wrap[data-color=pink] .waxon_tm_button a:hover {
    background-color: transparent
}

.waxon_tm_all_wrap[data-color=pink] .waxon_tm_service ul li .svg {
    color: #ff5e94
}

.waxon_tm_all_wrap[data-color=pink] .waxon_tm_portoflio .portfolio_inner ul li .list_inner .title h3 a:hover {
    color: #ff5e94
}

.waxon_tm_all_wrap[data-color=pink] .waxon_tm_testimonials .quote_list ul li .svg {
    color: #ff5e94
}

.waxon_tm_all_wrap[data-color=pink] .waxon_tm_news .news_inner ul li .details .title a:hover {
    color: #ff5e94
}

.waxon_tm_all_wrap[data-color=pink] .waxon_tm_topbar .menu .links ul li a:hover {
    color: #ff5e94
}

.waxon_tm_all_wrap[data-color=pink] .waxon_tm_portoflio .portfolio_filter ul li a.current {
    color: #ff5e94
}

.waxon_tm_all_wrap[data-color=pink] .cursor-inner.cursor-hover {
    background-color: #ff5e94
}

.waxon_tm_all_wrap[data-color=pink] .cursor-outer {
    border-color: #ff5e94
}

.waxon_tm_all_wrap[data-color=pink] .cursor-inner {
    background-color: #ff5e94
}

.waxon_tm_all_wrap[data-color=pink] .waxon_tm_topbar .menu .links ul li.current a {
    color: #ff5e94
}

.waxon_tm_all_wrap[data-color=orange] .waxon_tm_hero .content_inner h3 {
    color: #fa5b0f
}

.waxon_tm_all_wrap[data-color=orange] .waxon_tm_hero .content_inner h3.stroke {
    -webkit-text-stroke: 1px #fa5b0f;
    color: transparent
}

.waxon_tm_all_wrap[data-color=orange] .waxon_tm_about .name h3 {
    color: #fa5b0f
}

.waxon_tm_all_wrap[data-color=orange] .waxon_tm_button a {
    background-color: #fa5b0f;
    border-color: #fa5b0f
}

.waxon_tm_all_wrap[data-color=orange] .waxon_tm_button a:hover {
    background-color: transparent
}

.waxon_tm_all_wrap[data-color=orange] .waxon_tm_service ul li .svg {
    color: #fa5b0f
}

.waxon_tm_all_wrap[data-color=orange] .waxon_tm_portoflio .portfolio_inner ul li .list_inner .title h3 a:hover {
    color: #fa5b0f
}

.waxon_tm_all_wrap[data-color=orange] .waxon_tm_testimonials .quote_list ul li .svg {
    color: #fa5b0f
}

.waxon_tm_all_wrap[data-color=orange] .waxon_tm_news .news_inner ul li .details .title a:hover {
    color: #fa5b0f
}

.waxon_tm_all_wrap[data-color=orange] .waxon_tm_topbar .menu .links ul li a:hover {
    color: #fa5b0f
}

.waxon_tm_all_wrap[data-color=orange] .waxon_tm_portoflio .portfolio_filter ul li a.current {
    color: #fa5b0f
}

.waxon_tm_all_wrap[data-color=orange] .cursor-inner.cursor-hover {
    background-color: #fa5b0f
}

.waxon_tm_all_wrap[data-color=orange] .cursor-outer {
    border-color: #fa5b0f
}

.waxon_tm_all_wrap[data-color=orange] .cursor-inner {
    background-color: #fa5b0f
}

.waxon_tm_all_wrap[data-color=orange] .waxon_tm_topbar .menu .links ul li.current a {
    color: #fa5b0f
}

.waxon_tm_all_wrap[data-color=black] .waxon_tm_hero .content_inner h3 {
    color: #000
}

.waxon_tm_all_wrap[data-color=black] .waxon_tm_hero .content_inner h3.stroke {
    -webkit-text-stroke: 1px #000;
    color: transparent
}

body.dark .waxon_tm_all_wrap[data-color=black] .waxon_tm_hero .content_inner h3 {
    color: #fff
}

body.dark .waxon_tm_all_wrap[data-color=black] .waxon_tm_hero .content_inner h3.stroke {
    -webkit-text-stroke: 1px #fff;
    color: transparent
}

.waxon_tm_all_wrap[data-color=black] .waxon_tm_about .name h3 {
    color: #000
}

.waxon_tm_all_wrap[data-color=black] .waxon_tm_button a {
    background-color: #000;
    border-color: #000
}

.waxon_tm_all_wrap[data-color=black] .waxon_tm_button a:hover {
    background-color: transparent
}

.waxon_tm_all_wrap[data-color=black] .waxon_tm_service ul li .svg {
    color: #000
}

.waxon_tm_all_wrap[data-color=black] .waxon_tm_portoflio .portfolio_inner ul li .list_inner .title h3 a:hover {
    color: #000
}

.waxon_tm_all_wrap[data-color=black] .waxon_tm_testimonials .quote_list ul li .svg {
    color: #000
}

.waxon_tm_all_wrap[data-color=black] .waxon_tm_news .news_inner ul li .details .title a:hover {
    color: #000
}

.waxon_tm_all_wrap[data-color=black] .waxon_tm_topbar .menu .links ul li a:hover {
    color: #000
}

.waxon_tm_all_wrap[data-color=black] .waxon_tm_portoflio .portfolio_filter ul li a.current {
    color: #000
}

.waxon_tm_all_wrap[data-color=black] .cursor-inner.cursor-hover {
    background-color: #000
}

.waxon_tm_all_wrap[data-color=black] .cursor-outer {
    border-color: #000
}

.waxon_tm_all_wrap[data-color=black] .cursor-inner {
    background-color: #000
}

.waxon_tm_all_wrap[data-color=black] .waxon_tm_topbar .menu .links ul li.current a {
    color: #000
}

.waxon_tm_all_wrap[data-color=white] .waxon_tm_hero .content_inner h3 {
    color: #fff
}

.waxon_tm_all_wrap[data-color=white] .waxon_tm_hero .content_inner h3.stroke {
    -webkit-text-stroke: 1px #fff;
    color: transparent
}

.waxon_tm_all_wrap[data-color=white] .waxon_tm_about .name h3 {
    color: #fff
}

.waxon_tm_all_wrap[data-color=white] .waxon_tm_button a {
    background-color: #fff;
    border-color: #fff
}

.waxon_tm_all_wrap[data-color=white] .waxon_tm_button a:hover {
    background-color: transparent
}

.waxon_tm_all_wrap[data-color=white] .waxon_tm_service ul li .svg {
    color: #fff
}

.waxon_tm_all_wrap[data-color=white] .waxon_tm_portoflio .portfolio_inner ul li .list_inner .title h3 a:hover {
    color: #fff
}

.waxon_tm_all_wrap[data-color=white] .waxon_tm_testimonials .quote_list ul li .svg {
    color: #fff
}

.waxon_tm_all_wrap[data-color=white] .waxon_tm_news .news_inner ul li .details .title a:hover {
    color: #fff
}

.waxon_tm_all_wrap[data-color=white] .waxon_tm_topbar .menu .links ul li a:hover {
    color: #fff
}

.waxon_tm_all_wrap[data-color=white] .waxon_tm_portoflio .portfolio_filter ul li a.current {
    color: #fff
}

.waxon_tm_all_wrap[data-color=white] .cursor-inner.cursor-hover {
    background-color: #fff
}

.waxon_tm_all_wrap[data-color=white] .cursor-outer {
    border-color: #fff
}

.waxon_tm_all_wrap[data-color=white] .cursor-inner {
    background-color: #fff
}

.waxon_tm_all_wrap[data-color=white] .waxon_tm_topbar .menu .links ul li.current a {
    color: #fff
}

.waxon_tm_all_wrap[data-color=purple] .waxon_tm_hero .content_inner h3 {
    color: #9200ee
}

.waxon_tm_all_wrap[data-color=purple] .waxon_tm_hero .content_inner h3.stroke {
    -webkit-text-stroke: 1px #9200ee;
    color: transparent
}

.waxon_tm_all_wrap[data-color=purple] .waxon_tm_about .name h3 {
    color: #9200ee
}

.waxon_tm_all_wrap[data-color=purple] .waxon_tm_button a {
    background-color: #9200ee;
    border-color: #9200ee
}

.waxon_tm_all_wrap[data-color=purple] .waxon_tm_button a:hover {
    background-color: transparent
}

.waxon_tm_all_wrap[data-color=purple] .waxon_tm_service ul li .svg {
    color: #9200ee
}

.waxon_tm_all_wrap[data-color=purple] .waxon_tm_portoflio .portfolio_inner ul li .list_inner .title h3 a:hover {
    color: #9200ee
}

.waxon_tm_all_wrap[data-color=purple] .waxon_tm_testimonials .quote_list ul li .svg {
    color: #9200ee
}

.waxon_tm_all_wrap[data-color=purple] .waxon_tm_news .news_inner ul li .details .title a:hover {
    color: #9200ee
}

.waxon_tm_all_wrap[data-color=purple] .waxon_tm_topbar .menu .links ul li a:hover {
    color: #9200ee
}

.waxon_tm_all_wrap[data-color=purple] .waxon_tm_portoflio .portfolio_filter ul li a.current {
    color: #9200ee
}

.waxon_tm_all_wrap[data-color=purple] .cursor-inner.cursor-hover {
    background-color: #9200ee
}

.waxon_tm_all_wrap[data-color=purple] .cursor-outer {
    border-color: #9200ee
}

.waxon_tm_all_wrap[data-color=purple] .cursor-inner {
    background-color: #9200ee
}

.waxon_tm_all_wrap[data-color=purple] .waxon_tm_topbar .menu .links ul li.current a {
    color: #9200ee
}

.waxon_tm_all_wrap[data-color=sky] .waxon_tm_hero .content_inner h3 {
    color: #00d4bd
}

.waxon_tm_all_wrap[data-color=sky] .waxon_tm_hero .content_inner h3.stroke {
    -webkit-text-stroke: 1px #00d4bd;
    color: transparent
}

.waxon_tm_all_wrap[data-color=sky] .waxon_tm_about .name h3 {
    color: #00d4bd
}

.waxon_tm_all_wrap[data-color=sky] .waxon_tm_button a {
    background-color: #00d4bd;
    border-color: #00d4bd
}

.waxon_tm_all_wrap[data-color=sky] .waxon_tm_button a:hover {
    background-color: transparent
}

.waxon_tm_all_wrap[data-color=sky] .waxon_tm_service ul li .svg {
    color: #00d4bd
}

.waxon_tm_all_wrap[data-color=sky] .waxon_tm_portoflio .portfolio_inner ul li .list_inner .title h3 a:hover {
    color: #00d4bd
}

.waxon_tm_all_wrap[data-color=sky] .waxon_tm_testimonials .quote_list ul li .svg {
    color: #00d4bd
}

.waxon_tm_all_wrap[data-color=sky] .waxon_tm_news .news_inner ul li .details .title a:hover {
    color: #00d4bd
}

.waxon_tm_all_wrap[data-color=sky] .waxon_tm_topbar .menu .links ul li a:hover {
    color: #00d4bd
}

.waxon_tm_all_wrap[data-color=sky] .waxon_tm_portoflio .portfolio_filter ul li a.current {
    color: #00d4bd
}

.waxon_tm_all_wrap[data-color=sky] .cursor-inner.cursor-hover {
    background-color: #00d4bd
}

.waxon_tm_all_wrap[data-color=sky] .cursor-outer {
    border-color: #00d4bd
}

.waxon_tm_all_wrap[data-color=sky] .cursor-inner {
    background-color: #00d4bd
}

.waxon_tm_all_wrap[data-color=sky] .waxon_tm_topbar .menu .links ul li.current a {
    color: #00d4bd
}

.waxon_tm_all_wrap[data-color=cadetBlue] .waxon_tm_hero .content_inner h3 {
    color: #5e9e9f
}

.waxon_tm_all_wrap[data-color=cadetBlue] .waxon_tm_hero .content_inner h3.stroke {
    -webkit-text-stroke: 1px #5e9e9f;
    color: transparent
}

.waxon_tm_all_wrap[data-color=cadetBlue] .waxon_tm_about .name h3 {
    color: #5e9e9f
}

.waxon_tm_all_wrap[data-color=cadetBlue] .waxon_tm_button a {
    background-color: #5e9e9f;
    border-color: #5e9e9f
}

.waxon_tm_all_wrap[data-color=cadetBlue] .waxon_tm_button a:hover {
    background-color: transparent
}

.waxon_tm_all_wrap[data-color=cadetBlue] .waxon_tm_service ul li .svg {
    color: #5e9e9f
}

.waxon_tm_all_wrap[data-color=cadetBlue] .waxon_tm_portoflio .portfolio_inner ul li .list_inner .title h3 a:hover {
    color: #5e9e9f
}

.waxon_tm_all_wrap[data-color=cadetBlue] .waxon_tm_testimonials .quote_list ul li .svg {
    color: #5e9e9f
}

.waxon_tm_all_wrap[data-color=cadetBlue] .waxon_tm_news .news_inner ul li .details .title a:hover {
    color: #5e9e9f
}

.waxon_tm_all_wrap[data-color=cadetBlue] .waxon_tm_topbar .menu .links ul li a:hover {
    color: #5e9e9f
}

.waxon_tm_all_wrap[data-color=cadetBlue] .waxon_tm_portoflio .portfolio_filter ul li a.current {
    color: #5e9e9f
}

.waxon_tm_all_wrap[data-color=cadetBlue] .cursor-inner.cursor-hover {
    background-color: #5e9e9f
}

.waxon_tm_all_wrap[data-color=cadetBlue] .cursor-outer {
    border-color: #5e9e9f
}

.waxon_tm_all_wrap[data-color=cadetBlue] .cursor-inner {
    background-color: #5e9e9f
}

.waxon_tm_all_wrap[data-color=cadetBlue] .waxon_tm_topbar .menu .links ul li.current a {
    color: #5e9e9f
}

.waxon_tm_all_wrap[data-color=olive] .waxon_tm_hero .content_inner h3 {
    color: #666d41
}

.waxon_tm_all_wrap[data-color=olive] .waxon_tm_hero .content_inner h3.stroke {
    -webkit-text-stroke: 1px #666d41;
    color: transparent
}

.waxon_tm_all_wrap[data-color=olive] .waxon_tm_about .name h3 {
    color: #666d41
}

.waxon_tm_all_wrap[data-color=olive] .waxon_tm_button a {
    background-color: #666d41;
    border-color: #666d41
}

.waxon_tm_all_wrap[data-color=olive] .waxon_tm_button a:hover {
    background-color: transparent
}

.waxon_tm_all_wrap[data-color=olive] .waxon_tm_service ul li .svg {
    color: #666d41
}

.waxon_tm_all_wrap[data-color=olive] .waxon_tm_portoflio .portfolio_inner ul li .list_inner .title h3 a:hover {
    color: #666d41
}

.waxon_tm_all_wrap[data-color=olive] .waxon_tm_testimonials .quote_list ul li .svg {
    color: #666d41
}

.waxon_tm_all_wrap[data-color=olive] .waxon_tm_news .news_inner ul li .details .title a:hover {
    color: #666d41
}

.waxon_tm_all_wrap[data-color=olive] .waxon_tm_topbar .menu .links ul li a:hover {
    color: #666d41
}

.waxon_tm_all_wrap[data-color=olive] .waxon_tm_portoflio .portfolio_filter ul li a.current {
    color: #666d41
}

.waxon_tm_all_wrap[data-color=olive] .cursor-inner.cursor-hover {
    background-color: #666d41
}

.waxon_tm_all_wrap[data-color=olive] .cursor-outer {
    border-color: #666d41
}

.waxon_tm_all_wrap[data-color=olive] .cursor-inner {
    background-color: #666d41
}

.waxon_tm_all_wrap[data-color=olive] .waxon_tm_topbar .menu .links ul li.current a {
    color: #666d41
}

.waxon_tm_all_wrap[data-color=crimson] .waxon_tm_hero .content_inner h3 {
    color: #e54b4b
}

.waxon_tm_all_wrap[data-color=crimson] .waxon_tm_hero .content_inner h3.stroke {
    -webkit-text-stroke: 1px #e54b4b;
    color: transparent
}

.waxon_tm_all_wrap[data-color=crimson] .waxon_tm_about .name h3 {
    color: #e54b4b
}

.waxon_tm_all_wrap[data-color=crimson] .waxon_tm_button a {
    background-color: #e54b4b;
    border-color: #e54b4b
}

.waxon_tm_all_wrap[data-color=crimson] .waxon_tm_button a:hover {
    background-color: transparent
}

.waxon_tm_all_wrap[data-color=crimson] .waxon_tm_service ul li .svg {
    color: #e54b4b
}

.waxon_tm_all_wrap[data-color=crimson] .waxon_tm_portoflio .portfolio_inner ul li .list_inner .title h3 a:hover {
    color: #e54b4b
}

.waxon_tm_all_wrap[data-color=crimson] .waxon_tm_testimonials .quote_list ul li .svg {
    color: #e54b4b
}

.waxon_tm_all_wrap[data-color=crimson] .waxon_tm_news .news_inner ul li .details .title a:hover {
    color: #e54b4b
}

.waxon_tm_all_wrap[data-color=crimson] .waxon_tm_topbar .menu .links ul li a:hover {
    color: #e54b4b
}

.waxon_tm_all_wrap[data-color=crimson] .waxon_tm_portoflio .portfolio_filter ul li a.current {
    color: #e54b4b
}

.waxon_tm_all_wrap[data-color=crimson] .cursor-inner.cursor-hover {
    background-color: #e54b4b
}

.waxon_tm_all_wrap[data-color=crimson] .cursor-outer {
    border-color: #e54b4b
}

.waxon_tm_all_wrap[data-color=crimson] .cursor-inner {
    background-color: #e54b4b
}

.waxon_tm_all_wrap[data-color=crimson] .waxon_tm_topbar .menu .links ul li.current a {
    color: #e54b4b
}

.waxon_tm_all_wrap[data-color=red] .waxon_tm_hero .content_inner h3 {
    color: #fe0000
}

.waxon_tm_all_wrap[data-color=red] .waxon_tm_hero .content_inner h3.stroke {
    -webkit-text-stroke: 1px #fe0000;
    color: transparent
}

.waxon_tm_all_wrap[data-color=red] .waxon_tm_about .name h3 {
    color: #fe0000
}

.waxon_tm_all_wrap[data-color=red] .waxon_tm_button a {
    background-color: #fe0000;
    border-color: #fe0000
}

.waxon_tm_all_wrap[data-color=red] .waxon_tm_button a:hover {
    background-color: transparent
}

.waxon_tm_all_wrap[data-color=red] .waxon_tm_service ul li .svg {
    color: #fe0000
}

.waxon_tm_all_wrap[data-color=red] .waxon_tm_portoflio .portfolio_inner ul li .list_inner .title h3 a:hover {
    color: #fe0000
}

.waxon_tm_all_wrap[data-color=red] .waxon_tm_testimonials .quote_list ul li .svg {
    color: #fe0000
}

.waxon_tm_all_wrap[data-color=red] .waxon_tm_news .news_inner ul li .details .title a:hover {
    color: #fe0000
}

.waxon_tm_all_wrap[data-color=red] .waxon_tm_topbar .menu .links ul li a:hover {
    color: #fe0000
}

.waxon_tm_all_wrap[data-color=red] .waxon_tm_portoflio .portfolio_filter ul li a.current {
    color: #fe0000
}

.waxon_tm_all_wrap[data-color=red] .cursor-inner.cursor-hover {
    background-color: #fe0000
}

.waxon_tm_all_wrap[data-color=red] .cursor-outer {
    border-color: #fe0000
}

.waxon_tm_all_wrap[data-color=red] .cursor-inner {
    background-color: #fe0000
}

.waxon_tm_all_wrap[data-color=red] .waxon_tm_topbar .menu .links ul li.current a {
    color: #fe0000
}